
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}

body {
  overflow: hidden; 
}

.stars {
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  animation: shine 2s infinite ease-in-out, move 5s infinite linear;
}

@keyframes shine {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

@keyframes move {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(1px, 1px);
  }
}

@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap';
@font-face {
  font-family: sf-distant-galaxy-outline;
  src: url(/fonts/sf-distant-galaxy.outline.woff2) format('woff2');
  font-display: swap
}

@font-face {
  font-family: sf-distant-galaxy-regular;
  src: url(/fonts/sf-distant-galaxy.regular.woff2) format('woff2');
  font-display: swap
}
h1 {
  font-family: 'Star Jedi', sans-serif;
  color: #ffa80a;
  font-family: sf-distant-galaxy-outline;
  font-weight: 100;
}
